<p id="notice"><%= notice %></p>

<p>
  <strong>Hrm number:</strong>
  <%= @company_shareholder.hrm_number %>
</p>

<%= link_to 'Edit', edit_company_shareholder_path(@company_shareholder) %> |
<%= link_to 'Back', company_shareholders_path %>
